---
import logoFull from "../../assets/logo/logoFull.svg";
import { Image } from "astro:assets";
---

<div
  class="flex flex-col items-center justify-center h-[400px] bg-base-200 lg:relative"
>
  <Image
    src={logoFull}
    alt="Maag"
    class="absolute -top-14 left-1/2 -translate-x-1/2 z-50 hidden lg:block h-[713px] w-full"
  />
</div>
