---
import logoFull from "../../assets/logo/Vector.png";
import { Image } from "astro:assets";
---

<div
  class="relative w-full h-[300px] lg:h-[500px] bg-base-200 flex items-center justify-center"
>
  <div
    class="absolute top-14 lg:top-0 left-1/2 -translate-x-1/2 z-[99] mt-12 lg:mt-20"
  >
    <Image src={logoFull} alt="Maag" class="h-auto w-auto" />
  </div>
</div>
