---
import logoFull from "../../assets/logo/logoFull.svg";
import logoMobile from "../../assets/logo/logo-mobile.svg";
import { Image } from "astro:assets";
---

<section class="relative bg-base-200">
  {/* Mobile Logo */}
  <div class="pt-24 pb-12 block lg:hidden">
    <Image
      src={logoMobile}
      alt="Maag"
      class="mx-auto h-auto w-48 pointer-events-none"
    />
  </div>

  {/* Desktop Logo and Spacer */}
  <div class="h-[400px] hidden lg:block">
    {/* This div is only for background and height */}
  </div>
  <Image
    src={logoFull}
    alt="Maag"
    class="absolute -top-14 left-1/2 -translate-x-1/2 z-50 hidden lg:block h-[713px] w-full pointer-events-none"
  />
</section>