---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Article {
  image: ImageMetadata;
  category: string;
  title: string;
  heightClass: string;
}

interface Props {
  articles: Article[];
}

const { articles } = Astro.props;
---

<div class="w-full mt-[100px] space-y-8">
  <hr class="w-full border-t border-base-300" />

  <div class="space-y-8 pl-4 lg:pl-0">
    <h2
      class="text-base uppercase tracking-[0.46em] text-base-content font-serif"
    >
      Похожие статьи
    </h2>

    <div
      class="flex overflow-x-auto space-x-6 pb-4 lg:grid lg:grid-cols-4 lg:gap-10 lg:space-x-0"
    >
      {
        articles.map((article) => (
          <div class="flex-shrink-0 w-2/3 sm:w-1/2 lg:w-auto space-y-9">
            <Image
              src={article.image}
              alt={`Обложка статьи ${article.title}`}
              class:list={["w-full object-cover", article.heightClass]}
            />
            <div class="space-y-2">
              <p class="text-xs font-medium uppercase tracking-[0.25em] text-error font-['Inter']">
                {article.category}
              </p>
              <h3 class="text-lg lg:text-2xl leading-[1.28] text-base-content font-serif">
                {article.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
