---
// placeholder page
import Layout from "../Layouts/Layout.astro";

import { Construction } from '@lucide/astro';

---

<Layout
  navbarVariant="default"
  includePreFooterCTA={false}
  title="404"
  useClientRouter={true}
  >
  <main>
    <div class="w-full bg-base-300 py-14 px-8 flex flex-col items-center justify-center h-screen gap-4">
      <p class="text-base-content/50 font-semibold text-404">404</p>
      <p class="text-base-content text-2xl font-bold">Страница не найдена</p>
      <Construction class="w-10 h-10 text-error" />
      <p class="text-base-content text-2xl font-bold">... этой страницы пока нет, но мы усердно работаем над ней ...</p>
      <a href="/maag_staging/" class="btn btn-error">На главную</a>
    </div>
  </main>
</Layout>