---
import Layout from '../Layouts/Layout.astro';
---

<Layout title="Оплата отменена">
  <div class="min-h-screen flex items-center justify-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-4">Оплата отменена</h1>
      <p class="text-lg">Вы можете попробовать еще раз в любое время.</p>
      <a href="/profile" class="btn btn-primary mt-8">Вернуться в профиль</a>
    </div>
  </div>
</Layout>
