---
import Layout from "../Layouts/Layout.astro";
import eric from "../assets/common/image.jpg";
import logoFull from "../assets/logo/logoFull.svg";
import { Image } from "astro:assets";
import Hero from "../components/HomePage/Hero.astro";
import MainLandingBlock from "../components/common/MainLandingBlock.astro";
import LandingBody from "../components/common/LandingBody.astro";
---

<Layout
  navbarVariant="default"
  includePreFooterCTA={false}
  title="Maag"
  useClientRouter={true}
>
  <Hero />
  <MainLandingBlock />
  <div class="w-full px-8">
    <hr class="h-px my-4 border-1">
  </div>
  <LandingBody />
</Layout>
