---
import { Image } from "astro:assets";

import picture1 from "../../assets/images/culture.jpg";

const text = "lalal"
---


<div class="w-full flex flex-col gap-2 max-h-[300px] border border-red-200">
  <div class="border-amber-300">
    <Image
      src={picture1}
      alt="Culture image"
      class="w-full max-h-[200px] object-cover object-center"
      loading="eager"
    />
  </div>
  <p class="text-red-700">klajsdfksadjfl</p>
  <h3 class="text-xl">kjfdkjfdkf</h3>

</div>
