---
import { Image } from "astro:assets";

import picture1 from "../../assets/images/culture.jpg";

interface CategoryHeroProps {
  title?: string
}

const {title = "Category"} = Astro.props as CategoryHeroProps
---

<section class="w-full min-h-[150px] px-4 lg:px-8">
<h2 class="text-2xl lg:text-4xl leading-tight font-thin font-oswald text-wrap break-words mt-16 mb-8">{title}</h2>
  <div class="w-full flex flex-col bg-white min-h-[100px] mb-16">
    <div class="w-full max-h-[750px] overflow-hidden">
    <Image
      src={picture1}
      alt="kfjsldkf"
      class="w-full max-h-[750px] object-cover object-center"
    />
    </div>
    <div class="mb-16 px-2 py-4">
    <p class="mb-2 text-error uppercase font-inter text-xs tracking-[.46em]">ksfjaksdf</p>
    <h4 class="text-2xl lg:text-3xl leading-tight font-thin font-oswald text-wrap break-words">lfkjadsk</h4>
    </div>
  </div>
</section>
