---
import logo from "../../assets/logo/logo.svg";
import { Search, Instagram, Youtube, X } from "@lucide/astro";
import { Image } from "astro:assets";
import searchIcon from "../../assets/icons/search-mobile.svg";
import burgerIcon from "../../assets/icons/burger-mobile.svg";

interface NavbarProps {
  variant: "default" | "transparent";
  languages: string;
  user?: boolean;
  showLogoInNav?: boolean;
}

const {
  variant,
  languages,
  user = true,
  showLogoInNav = true,
} = Astro.props as NavbarProps;

const navbarClasses = variant === "default" ? "bg-base-100" : "bg-transparent";
const positionClasses = variant === "default" ? "relative" : "absolute";
const colorClasses = "text-base-content";
const borderClasses = "border-none";

const logoSrc = logo.src;
---

<div x-data="{}">
  <nav
    class:list={[
      "w-full z-30",
      navbarClasses,
      positionClasses,
      colorClasses,
      borderClasses,
      "h-[80px] lg:h-[90px] px-4 lg:px-[57px] flex items-center justify-between",
    ]}
  >
    <!-- Left Side -->
    <div class="flex items-center gap-12">
      {
        showLogoInNav && (
          <a class="cursor-pointer" href="/">
            <img src={logoSrc} alt="Maag logo" class="w-12 lg:w-16" />
          </a>
        )
      }
      <!-- Desktop Menu -->
      <div class="hidden lg:flex">
        <ul class="flex items-center text-base-content">
          <li class="relative group font-lora uppercase tracking-[.46em] text-base font-normal">
            <a href="/culture" class="transition-all duration-300 group-hover:text-shadow">Культура</a>
            <span class="absolute -bottom-2 left-0 w-full h-0.5 bg-base-content scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-out"></span>
          </li>
          <div class="w-[1px] h-[12px] bg-neutral-300 mx-6"></div>
          <li class="relative group font-lora uppercase tracking-[.46em] text-base font-normal">
            <a href="/building" class="transition-all duration-300 group-hover:text-shadow">Париж</a>
            <span class="absolute -bottom-2 left-0 w-full h-0.5 bg-base-content scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-out"></span>
          </li>
          <div class="w-[1px] h-[12px] bg-neutral-300 mx-6"></div>
          <li class="relative group font-lora uppercase tracking-[.46em] text-base font-normal">
            <a href="/building" class="transition-all duration-300 group-hover:text-shadow">Дети</a>
            <span class="absolute -bottom-2 left-0 w-full h-0.5 bg-base-content scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-out"></span>
          </li>
          <div class="w-[1px] h-[12px] bg-neutral-300 mx-6"></div>
          <li class="relative group font-lora uppercase tracking-[.46em] text-base font-normal">
            <a href="/calendar" class="transition-all duration-300 group-hover:text-shadow">Календарь</a>
            <span class="absolute -bottom-2 left-0 w-full h-0.5 bg-base-content scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-out"></span>
          </li>
          <div class="w-[1px] h-[12px] bg-neutral-300 mx-6"></div>
          <li class="relative group font-lora uppercase tracking-[.46em] text-base font-normal">
            <a href="/building" class="transition-all duration-300 group-hover:text-shadow">О проекте</a>
            <span class="absolute -bottom-2 left-0 w-full h-0.5 bg-base-content scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-out"></span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Right Side -->
    <!-- Desktop Icons -->
    <div class="hidden lg:flex items-center gap-[19px]">
      <button class="p-2">
        <Image src={searchIcon} alt="Search" class="h-5 w-5" />
      </button>
      <button class="p-2">
        <Instagram class="h-6 w-6" />
      </button>
      <button class="p-2">
        <Youtube class="h-7 w-7" />
      </button>
      <a href="#" class="bg-primary text-primary-content rounded-[9px] px-4 py-1.5 font-inter text-[14px] whitespace-nowrap" id="enterButton">Войти</a>
    </div>

    <!-- Mobile Icons -->
    <div class="flex items-center gap-4 lg:hidden">
      <button class="p-2">
        <Image src={searchIcon} alt="Search" class="h-5 w-5" />
      </button>
      <button @click="$store.navbar.toggle()" class="p-2 z-50">
        <span x-show="!$store.navbar.isOpen">
          <Image src={burgerIcon} alt="Open menu" class="h-4 w-5" />
        </span>
        <span x-show="$store.navbar.isOpen">
          <X class="h-6 w-6" />
        </span>
      </button>
    </div>
  </nav>

  <!-- Mobile Menu -->
  <!-- Overlay -->
  <div x-show="$store.navbar.isOpen" x-cloak @click="$store.navbar.close()" class="fixed inset-0 bg-black/30 z-[998] lg:hidden" x-transition:enter="transition-opacity ease-linear duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition-opacity ease-linear duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"></div>

  <!-- Panel -->
  <div x-show="$store.navbar.isOpen" x-cloak class="fixed top-0 right-0 w-[235px] h-screen bg-base-100 z-[999] lg:hidden flex flex-col justify-between p-8" x-transition:enter="transform transition ease-in-out duration-300" x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="transform transition ease-in-out duration-300" x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full">
    <!-- Links -->
    <ul class="flex flex-col gap-4 text-base-content">
      <li class="font-lora uppercase tracking-[.46em] text-base font-normal"><a href="/culture">Культура</a></li>
      <li class="font-lora uppercase tracking-[.46em] text-base font-normal"><a href="/building">Париж</a></li>
      <li class="font-lora uppercase tracking-[.46em] text-base font-normal"><a href="/building">Дети</a></li>
      <li class="font-lora uppercase tracking-[.46em] text-base font-normal"><a href="/calendar">Календарь</a></li>
      <li class="font-lora uppercase tracking-[.46em] text-base font-normal"><a href="/building">О проекте</a></li>
    </ul>

    <!-- Bottom Section -->
    <div class="flex flex-col gap-7">
      <a href="#" class="bg-primary text-primary-content rounded-[9px] py-1.5 text-center font-inter text-[14px] w-full">Войти</a>
      <div class="flex items-center justify-center gap-5">
        <a href="#"><Instagram class="h-6 w-6" /></a>
        <a href="#"><Youtube class="h-7 w-7" /></a>
        <a href="#"><X class="h-6 w-6" /></a>
      </div>
    </div>
  </div>
</div>
