---
import logo from "../../assets/logo/logo.svg";
import { Search, Instagram, Youtube, X } from "@lucide/astro";
import { Image } from "astro:assets";
import searchIcon from "../../assets/icons/search-mobile.svg";
import burgerIcon from "../../assets/icons/burger-mobile.svg";

interface NavbarProps {
  variant: "default" | "transparent";
  languages: string;
  user?: boolean;
  showLogoInNav?: boolean;
}

const {
  variant,
  languages,
  user = true,
  showLogoInNav = true,
} = Astro.props as NavbarProps;

const navbarClasses = variant === "default" ? "bg-base-100" : "bg-transparent";
const positionClasses = variant === "default" ? "relative" : "absolute";
const colorClasses = "text-base-content";
const borderClasses = "border-none";

const logoSrc = logo.src;
---

<div x-data="{ isOpen: false }">
  <nav
    class:list={[
      "w-full z-50",
      navbarClasses,
      positionClasses,
      colorClasses,
      borderClasses,
      "h-[90px] px-[57px] flex items-center justify-between bg-base-100",
    ]}
  >
    <div class="flex items-center gap-12">
      {
        showLogoInNav && (
          <a class="cursor-pointer" href="/">
            <img src={logoSrc} alt="Maag logo" class="w-16" />
          </a>
        )
      }
      <div class="hidden lg:flex">
        <ul class="flex items-center text-black">
          <li
            class="relative group font-lora uppercase tracking-[.46em] text-[16px] font-normal"
          >
            <a
              href="/culture"
              class="transition-all duration-300 group-hover:text-shadow"
              >Культура</a
            >
            <span
              class="absolute -bottom-2 left-0 w-full h-0.5 bg-black scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-out"
            ></span>
          </li>
          <div class="w-[1px] h-[12px] bg-neutral-300 mx-6"></div>
          <li
            class="relative group font-lora uppercase tracking-[.46em] text-[16px] font-normal"
          >
            <a
              href="/building"
              class="transition-all duration-300 group-hover:text-shadow"
              >Париж</a
            >
            <span
              class="absolute -bottom-2 left-0 w-full h-0.5 bg-black scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-out"
            ></span>
          </li>
          <div class="w-[1px] h-[12px] bg-neutral-300 mx-6"></div>
          <li
            class="relative group font-lora uppercase tracking-[.46em] text-[16px] font-normal"
          >
            <a
              href="/building"
              class="transition-all duration-300 group-hover:text-shadow"
              >Дети</a
            >
            <span
              class="absolute -bottom-2 left-0 w-full h-0.5 bg-black scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-out"
            ></span>
          </li>
          <div class="w-[1px] h-[12px] bg-neutral-300 mx-6"></div>
          <li
            class="relative group font-lora uppercase tracking-[.46em] text-[16px] font-normal"
          >
            <a
              href="/calendar"
              class="transition-all duration-300 group-hover:text-shadow"
              >Календарь</a
            >
            <span
              class="absolute -bottom-2 left-0 w-full h-0.5 bg-black scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-out"
            ></span>
          </li>
          <div class="w-[1px] h-[12px] bg-neutral-300 mx-6"></div>
          <li
            class="relative group font-lora uppercase tracking-[.46em] text-[16px] font-normal"
          >
            <a
              href="/building"
              class="transition-all duration-300 group-hover:text-shadow"
              >О проекте</a
            >
            <span
              class="absolute -bottom-2 left-0 w-full h-0.5 bg-black scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-out"
            ></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="hidden lg:flex items-center gap-[19px]">
      <button class="p-2">
        <Image src={searchIcon} alt="Search" class="h-5 w-5" />
      </button>
      <button class="p-2">
        <Instagram class="h-6 w-6" />
      </button>
      <button class="p-2">
        <Youtube class="h-7 w-7" />
      </button>
      <a
        href="#"
        class="bg-primary text-primary-content rounded-[9px] px-4 py-1.5 font-inter text-[14px] whitespace-nowrap"
        id="enterButton">Войти</a
      >
    </div>

    <div class="flex items-center lg:hidden">
      <button class="p-2">
        <Image src={searchIcon} alt="Search" class="h-5 w-5" />
      </button>
      <button @click="isOpen = !isOpen" class="p-2">
        <Image
          x-show="!isOpen"
          src={burgerIcon}
          alt="Open menu"
          class="h-4 w-5"
        />
        <X x-show="isOpen" class="h-6 w-6" />
      </button>
    </div>
  </nav>

  <!-- Mobile Menu Panel -->
  <div
    x-show="isOpen"
    x-transition
    class="lg:hidden bg-white shadow-lg absolute w-full"
  >
    <ul class="p-4 pt-24 text-left flex flex-col items-center">
      <li class="py-3 text-lg"><a href="/culture">Культура</a></li>
      <li class="py-3 text-lg"><a href="/building">Париж</a></li>
      <li class="py-3 text-lg"><a href="/building">Дети</a></li>
      <li class="py-3 text-lg"><a href="/calendar">Календарь</a></li>
      <li class="py-3 text-lg"><a href="/building">О проекте</a></li>
      <li class="pt-4 mt-4 w-full">
        <a
          href="#"
          class="block text-center bg-gray-200 text-black w-full py-2 rounded-lg"
          >Войти</a
        >
      </li>
    </ul>
  </div>
</div>
