---
import { Image } from "astro:assets";
import picture3 from "../../assets/images/article_content/par.jpeg";

const text = "testing"
---


<div class="w-full flex flex-col gap-2 max-h-[300px] min-w-[220px] lg:min-w-0">
  <div class="w-full overflow-hidden rounded-lg">
    <Image src={picture3} alt={text} class="w-full h-auto object-cover"/>
  </div>
  <p class="text-red-700">klajsdfksadjfl</p>
  <h3 class="truncate">kjfdkjfdkf</h3>

</div>
