---
import { Image } from "astro:assets";
import picture3 from "../../assets/images/article_content/par.jpeg";

const text = "testing"
---


<div class="w-full flex flex-col gap-2 max-h-[300px] border border-red-200">
  <div class="border-amber-300">
    <Image src={picture3} alt={text}/>
  </div>
  <p>klajsdfksadjfl</p>
  <h3>kjfdkjfdkf</h3>

</div>
