---
import { Image } from "astro:assets";
import picture3 from "../../assets/images/article_content/par.jpeg";

const text = "testing"
---


<div class="w-full flex flex-col gap-2 max-h-[300px] min-w-[220px] lg:min-w-0">
  <div class="w-full overflow-hidden rounded-lg">
    <Image src={picture3} alt={text} class="w-full h-auto object-cover"/>
  </div>
  <p class="text-error uppercase mb-3 font-inter text-xs tracking-[.46em]">klajsdfksadjfl</p>
  <h3 class="truncate text-base lg:text-lg leading-tight font-old-standard mb-4">kjfdkjfdkf</h3>

</div>
