---
import { Image } from "astro:assets";
import picture3 from "../../assets/images/article_content/par.jpeg";

const text = "testing"
---


<div class="w-full flex flex-col gap-2 max-h-[300px]">
  <div>
    <Image src={picture3} alt={text}/>
  </div>
  <p class="text-red-700">klajsdfksadjfl</p>
  <h3 class="truncate">kjfdkjfdkf</h3>

</div>
